DJANGO_SECRET_KEY = Type here your secret key
DJANGO_DEBUG = True
DB_POSTGRESQL_NAME=postgresql_db
DB_POSTGRESQL_USER=postgresql_db_admin
DB_POSTGRESQL_PASSWORD=db_password
DB_POSTGRESQL_HOST=postgres
DB_POSTGRESQL_PORT=5432
REDIS_CELERY_USERNAME=redis_celery_admin
REDIS_CELERY_PASSWORD=redis_celery_password
REDIS_CELERY_HOST=redis_celery
REDIS_CELERY_PORT=6379
REDIS_CELERY_DB_NUMB_BROKER=0
REDIS_CELERY_DB_NUMB_BACKEND=1